{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "useTabs": true,
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "arrowParens": "always"
}
