$primary: rgb(131, 139, 211)

#side-nav-container
    background: $primary
    padding: 1em
    height: 100vh
    width: 195px
    a
        color: black
        text-decoration: none

    a.logo
        font-weight: bold