<div class="web-project-grid-container">
	<h2 class="heading">Hey, I did development on these</h2>
	<h4 class="subheading">Click an image below to see the full site</h4>
	<div fxLayout="row">
		<div class="item">
			<div fxFlex="100" class="img-wrapper">
				<a href="https://loanup.com" target="_blank">
					<img src="assets/images/loanup_xl.png" />
				</a>
			</div>
		</div>
		<div class="item">
			<div fxFlex="100" class="img-wrapper">
				<a href="https://lendjet.com" target="_blank">
					<img src="assets/images/lendjet_xl.png" />
				</a>
			</div>
		</div>
	</div>
</div>
