.individual-project-image-ul {
	list-style: none;
}

.individual-project-image-li {
	padding: 1em;
}

.individual-project-image {
	width: 100%;
	max-width: 500px;
}

.individual-project-info-container {
	margin-right: 3em;
	max-width: 500px;

	.individual-project-info-name {
		font-weight: 700;
		font-size: 26px;
	}

	.individual-project-info-description,
	.individual-project-info-year {
		font-size: 18px;
		white-space: pre-wrap;
	}
}
