@import '../App.scss';
$active-link: #0044ff;

#side-nav-container {
	display: block;
	padding: 1em;
	width: auto;
	height: auto;
	font-weight: bold;

	ul {
		padding-top: 0.5em;
		list-style-type: none;
	}

	ul li {
		padding: 0.5em;
	}

	.link,
	.btn {
		color: black;
		text-decoration: none;
		transition: 0.3s;
		font-size: 18px;
		&:hover {
			color: $active-link;
		}
		white-space: nowrap;
	}

	.btn {
		border: none;
		padding: 0;
		margin: 0;
		font-weight: 500;
		&:focus {
			outline: 0;
		}
	}

	.active {
		color: $active-link;
	}

	@include mobile {
		#side-nav-container {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		.link-container {
			padding-top: 1em;
		}

		nav ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		li {
			flex: 1 0 40%;
		}

		.side-nav-ul {
			margin: 0;
			padding: 0;
		}
	}
}
