@mixin mobile {
	@media screen and (max-width: 768px) {
		@content;
	}
}

.App {
	display: flex;

	@include mobile {
		display: inline;
	}
}

#side-nav-wrapper {
	margin-right: 2em;
}

@include mobile {
	#body-content-wrapper {
		display: flex;
		justify-content: center;
	}

	#side-nav-wrapper {
		.sub-nav-ul {
			padding-top: 1em;
		}
	}
}
