$primary: rgb(131, 139, 211)

body
    margin: 0
    font-family: 'Courier New', Courier, serif
    font-size: 18px

.container
    float: right

#side-nav-container
    background: $primary
    padding: 1em
    width: 25vw
    height: 100vh
    display: inline-block

    a
        color: black
        text-decoration: none

    a.logo
        font-weight: bold

    nav
        float: right

        ul
            list-style-type: none
            margin: 0
            dispay: flex

        li a
            font-weight: bold

            &:hover
                color: lighten(black, 10%)