.works-list-container {
    margin: 0 10px;
}

.project-details-container {
    margin: auto;
    padding: 10px 30px 10px 30px;
    max-width: 864px;
}

.works-list-li {
    margin-bottom: 10px;
}

.project-details-li-item {
    padding: 5px 30px;
}

.text {
    padding: 5px 0;
    font-size: 20px;
}

.brackets {
    margin-bottom: 20px;
}

@media only screen and (max-width: 680px){
    .mobile-works-list {
        font-size: 17px;
    }
}